@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Raleway:wght@500;600&family=Red+Hat+Display:wght@400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E9F8F7;
}

:root {
    --font-h: 'Red Hat Display', sans-serif;
    --font-p: 'Raleway', sans-serif;
}

.registration{
    display: none   ;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.open{
    display: flex;
}

.modal-registration{
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 70px 55px 55px 50px;
    background: #E9F8F7;
    border-radius: 50px;
    box-shadow: 12px 5px 29px 5px #87a9a9;
}

.modal-registration > input{
    padding: 18px;
    border-radius: 50px;
    margin-bottom: 19px;
    font-family: var(--font-p);
    font-size: 24px;
}

.btn-registration{
    background: white;
    padding: 23px 56px;
    border-radius: 50px;
    border: none;
    box-shadow: 12px 5px 29px 5px #a9c5c3;
    cursor: pointer;
}

.btn-registration:hover{
    box-shadow: 12px 5px 19px 3px #96afad;
}

.btn-registration:active{
    background-color: rgba(132, 178, 176, 1);   
    box-shadow: none;
}

.btn-registration > p{
    font-size: 24px;
    font-weight: 600;
}

header .container{
    height: 130px;
    justify-content: space-between;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 100px;   
}

h1{
    font-family: var(--font-h);
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 35px;
}

p {
    font-family: var(--font-p);
    font-size: 15px;
}

header .container .logo{
    margin-bottom: 25px;
}

.login > h1{
    font-size: 14px;
    margin: 0;
}

.login{
    border: none;
    background-color: white;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 0px 5px 4px #bcdad8;
    cursor: pointer;
}

.login:hover{
    box-shadow: 0px 6px 4px #97afae;
}

.login:active{
    background-color: rgba(132, 178, 176, 1);   
    box-shadow: none;
}

.header-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.block-link{
    display: flex;
    gap: 10px;
    margin-left: 110px;
}

.block-link > ul{
    display: flex;
    gap: 42px;
    list-style: none;
    text-decoration: none;
}

.block-account{
    display: flex;
    align-items: center;
    gap: 18px;
}

a{
    text-decoration: none;
}

.block h1{
    font-weight: 400;
}

.block{
    padding: 202px 0;
}

.block-head{
    width: 100%;
}

.block-search{
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 33px;
    box-shadow: 0px 10px 5px #c5d2d1;
}

.search{
    display: flex;
    align-items: center;
    padding: 44px 44px;
    gap: 23px;
    height: 30px;
}.border{
    border-right: 1px solid rgba(132, 178, 176, 1);}

input{
    border: none;
    padding: 3px;
}

input:focus{
    outline: none;
}

.btn-search{
    background: #84B3B0;
    height: 100%;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FFFDFD;
    padding: 36px 72px;
    border-radius: 22px;
    cursor: pointer;
}

.btn-search:hover{
    background: #6fa29f;

}

#links{
    background: #F5F5F5;
}

#links > .container{
    justify-content: space-between;
}

.links-logo{
    display: flex;
    gap: 15px;
    padding: 50px 0;
}

.links-logo > img {
    cursor: pointer;
}

#categories{
    padding: 85px 0;
}

#categories > .container {
    flex-direction: column;
}

.blocks-categories{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 42px;
}

.block-categories{
    display: flex;
    background: #FFFEFE;
    justify-content: center;
    padding: 102px 0 54px 0;
    width: 220px;
    border-radius: 50px;
    box-shadow: 0px 11px 85px rgba(0, 0, 0, 0.34);
    position: relative;
    cursor: pointer;
}

.block-categories > p{
    font-size: 20px;
}

.block-categories > img {
    position: absolute;
    left: 30px;
    bottom: 110px;
}

.more{
    padding: 35px 35px;
    background: white;
    border: none;
    border-radius: 50px;
    margin: 78px 0 0 0;
    box-shadow: 20px 11px 70px rgba(0, 0, 0, 0.34);
    cursor: pointer;
}

.more >p{
    font-size: 20px;
}

.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jobs{
    padding: 85px 0;
}

#jobs > .container{
    flex-direction: column;
}

.jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blocks-jobs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 81px;
    gap: 39px;
}

.block-jobs{
    display: flex;
    flex-direction: column;
    background: #FFFEFE;
    border-radius: 37px;
    box-shadow: 0px 11px 85px rgba(0, 0, 0, 0.34);
    padding: 30px 105px 30px 30px;
    position: relative;
    cursor: pointer;
}

.jobs-name > h1, .company > h1{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.53);
    margin: 0;
}

.block-jobs > p{
    display: flex;
    align-items: center;
    font-size: 20px;
    max-width: 266px;
    height: 103px;
    margin: 18px 0 18px 0;
}

.jobs-name{
    display: flex;
    gap: 20px;
}

.city{
    display: flex;
    align-items: center;
    gap: 10px;
}

.city > img{
    width: 11px;
}

.company{
    display: flex;
    align-items: center;
    margin-top: 32px;
    gap: 16px;
}

footer{
    background: #F5F5F5;
}

footer > .container{
    flex-direction: column;
}

.city > li > p{
    font-size: 20px;
}

.city{
    display: flex;
    list-style: none;
    text-decoration: none;
}

.cities{
    align-items: center;
    width: 100%;
}

.cities > p{
    width: 100%;
    font-size: 25px;
    margin-bottom: 40px;
}

.footer{
    display: flex;
    flex-direction: column;
    padding: 72px 0 40px 20px ;
    width: 100%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: end;
    gap: 33%;
}

.logo > h1 {
    font-size: 36px;
    margin: 0;

}

.footer-links{
    display: flex;
    gap: 20px;
}

.footer-city{
    display: flex;
    justify-content: space-between;
    gap: 42px;
    margin-bottom: 50px;
    list-style: none;
    text-decoration: none;
}

.footer-city > li > p{
    font-size: 20px;
}